<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Article</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body class="card">
<h1 class="article-heading">Update Article</h1>

<form method="post" th:object="${article}" th:action="@{/edit/{idx}(idx=${idx})}">

<h3 class="article-title card"><input class="input-area" type="text" placeholder="Article title" th:field="*{title}"></h3>
<h3 class="article-title card" style="color: gray"; th:text="${article.date}"></h3>
    <input type="hidden" th:field="*{date}" />
<h3 class="article-title card"><textarea class="input-area" type="text" placeholder="Content" th:field="*{text}"></textarea></h3>
<input type="submit" value="Update" class="button" style="color: black;">

</form>

</body>
</html>